.post{
    width: 800px;
    height: 200px;
    margin: 0 auto;
    border: solid grey 1px;
    padding: 20px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: auto;
    background-color: #fff;
    border-radius: 10px;
}
.post_title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.likes{
    margin-bottom: 10px;
}
.post_body{
    font-size: 20px;
}
.wrapper{
    display: flex;
    justify-content : space-between;
}