.paperStyle{
    padding: 20px;
    height: 60vh;
    width: 280px;
    margin: 20px auto; 
}
.avatarStyle{
    margin: 20px;
    background-color: #cc9053 !important;
}
.btnstyle{
    margin: 20px 0px;
}
